<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Task Management{% endblock %}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="override">
  
    <nav class="navbar navbar-inverse" role="navigation">
       
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Tasks</span>
                </button>
                <h3>Task Management</h3>
            </div>
           
            <div id="navbar" class="collapse navbar-collapse">
            
            {%if request.user.is_authenticated %}

            <div class="nav-item navbar-right justify" >
              <a class="nav-link" href="/logout">Logout</a>
            </div>
            {%else %}
            <div class="nav-item navbar-right">
              <a class="nav-link" href="/">Login</a>
            </div>
            {%endif %}

            </div>
 
    </nav> 

            {% block content %}
            {% endblock %}  

</body>
</html>